<a href="https://colab.research.google.com/github/b-chae/PythonTutoring/blob/main/%EA%B8%B0%EC%B4%88/Python_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 변수
- 변수와 상수란?
- 둘의 차이점은?
- 파이썬에서 어떻게 사용하는지?

In [ ]:
x = x + 1
print(x)
y = x * 3
print(y)
print(x - y)

4
12
-8

- x = x + 1 에서 좌변의 x와 우변의 x의 차이?
- y = x * 3 에서 y와 x 각각의 의미?
- print(x - y)에서 x-y 는 변수 ? 상수 ?
- Python에서의 =는 어떤 의미일까? 수학에서와의 차이

## 자료형, 변수의 정보를 나타내는 다양한 방법들
- 정수
- 실수
- 문자열

In [ ]:
a = 1
b = 3.141592
c = "예쁜벼리쌤"

print(type(a))
print(type(b))
print

<class 'int'>
<class 'float'>
<class 'str'>

- 정수 -> 실수, 실수 -> 정수로 바꿔볼까?
- 문자열 -> 실수, 실수 -> 문자열로 자유자제로 바꿔볼까?

In [ ]:
a = "10.345"
b = 10.345
print(a, b)
c = 2
d = 2.0
print(c, d)

10.345 10.345
2 2.0

## 연산
- 파이썬의 기본 연산은 +, -, *, / 이다.
- 문자열끼리도 연산을 할 수 있을까?

In [ ]:
a = 1 + 2 - 5 + 7 * 3
b = 3 + 3.23 * 9.14 / 5.23
print(a)
print(b)

19
8.644780114722753

In [ ]:
print("그래?" * 2)

그래?그래?

## 출력과 입력
- 출력하는 방법, 사용자로부터 입력을 받아들이는 방법

In [ ]:
print("Hello World! 🌍")
print("What's your name?")
name = input()
print("Your name is " + name + ", right? 😀 ")

Hello World! 🌍
What's your name?
byeori chae
Your name is byeori chae, right? 😀

###쉬운 실습1
어떤 숫자 두 개를 곱하시겠어요?

```
4
5
```
정답은 20 입니다


---

###쉬운 실습2
어떤 숫자 두 개를 곱하시겠어요?


```
3
10.1
```
3 곱하기 10.1은 30.3 입니다


---

###어려운 실습
안녕하세요, 사랑의 커피숍입니다. 아메리카노 한 잔에 4000원 입니다. 몇 잔을 원하세요?
```
10
```
10잔에 40000원 입니다. 현금 얼마 내시겠어요?

```
50000
```
50000원 받았습니다. 거스름돈 여기 10000원 있습니다.