<a href="https://colab.research.google.com/github/b-chae/PythonTutoring/blob/update/01%EB%B0%98%EB%B3%B5%EB%AC%B8%EB%A6%AC%EC%8A%A4%ED%8A%B8%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 파이썬 반복문 & 리스트 연습문제 😆

<1번> 리스트에 동물 이름 저장돼 있다.
```
mylist = ['dog', 'cat', 'parrot']
```
for문을 사용해서 동물 이름의 첫 글자만 출력하자.
```
d
c
p
```

<2번> 리스트에 알파벳이 저장되어있다.

```
mylist = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
```
for문을 사용하여 다음과 같이 듬성등성 출력하자.
```
a
c
e
g
```

<3번> 2번문제에서 for문을 사용하여 거꾸로 출력하자.


```
h
g
f
e
d
c
b
a
```

<4번> 리스트에 다음과 같은 숫자가 저장되어 있다.


```
mylist = [3, 23, -8, 10, -3, -1, 100]
```
다음과 같이 음수만 출력해보자
```
-8
-3
-1
```

<5번> 리스트에서 20보다 작은 3의 배수만 출력해보자
```
mylist = [13, 21, 12, 14, 30, 18]
```
```
12
18
```

<6번> 햇님초 6학년 1반 학생을 모두 저장하는 리스트를 만들어보자. 학생수를 입력받으면 그 수만큼의 학생들의 이름을 입력받도록 만들자.
```
How many students are in this class?
>>>3
Enter the student name :
>>>Minsu
Enter the student name :
>>>Cheolsu
Enter the student name :
>>> Haneul
Finally Done!
```

이제 학생이름을 입력받을 때마다 학생들의 이름을 저장해보자.
```
StudentList = []
```
```
How many students are in this class?
>>>3
Enter the student name :
>>>Minsu
Enter the student name :
>>>Cheolsu
Enter the student name :
>>> Haneul
(Minsu, Cheolsu, Haneul)
```
입력이 끝나면 맨 마지막에 (Minsu, Cheolsu, Haneul)처럼 학생들 이름을 모두 프린트하세요!

<7번> 5번의 은행일을 수행해 봅시다. 입력을 받고 입력이 withdraw이면 천원을 출금합니다. deposit이면 이천원을 저금합니다.
```
myMoney = 10000
```
```
>>>withdraw
천원을 출금합니다.
총 9000원 입니다.
>>>deposit
이천원을 저금합니다.
총 12000원 입니다.
>>>withdraw
천원을 출금합니다.
총 11000원 입니다.
>>>withdraw
천원을 출금합니다.
총 10000원 입니다.
>>>withdraw
천원을 출금합니다.
총 9000원 입니다.
```